<!DOCTYPE html>
<!--Se asocia el modulo a la vista-->
<html lang="en" ng-app="LoginFomrModule">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio</title>

    <!--Contenido estático, hoja de estilos requeridos-->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../share/main.css" rel="stylesheet">
</head>
<body>

<!--Generamos una barra de navegación con bootstrap-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--Contenedor con un brand-->
        <div class="navbar-header">
        <a class="navbar-brand"
           href="/">
           Primer Form Bootstrap + AngularJs.
        </a>
        </div>
    </div>
</nav>

<!--contenedor principal que englobará al form-->
<div class="container main-content" ng-controller="LoginFormController">
    <form name="theForm" novalidate="novalidate" ng-submit="onSubmit(theForm.$valid);">
        <!--Input Text-->
        <div class="form-group">
            <label for="name">Tu nombre</label>
            <input type="text"
            class="form-control"
            id="name" required="required"
            ng-model="formModel.name">
        </div>

        <div class="form-group">
            <label for="name">Tu Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   required="required"
                   ng-model="formModel.password">
        </div>

        <div class="form-group" ng-class="{
        'has-error':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
        'has-succcess': theForm.email.$valid && theForm.$submitted
        }
        ">

            <label for="name">Tu E-mail</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   required="required"
                   ng-model="formModel.email">
        </div>
        <!--Botón que gatilla submit-->
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Registrar</button>
        </div>
    </form>
    <!--el pipe es para decirle que me muestre como...-->
    <pre> {{ formModel.name | json }} </pre>
    <pre> {{ formModel.password | json }} </pre>
    <pre> {{ formModel.email | json }} </pre>

</div>
<!--Archivo JS requeridos para el proyecto de angularJS-->
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../WelcomeModule/controller/FormValidationController.js/"></script>

</body>
</html>